<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/tx 
       					   http://www.springframework.org/schema/tx/spring-tx.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!--数据源  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/crm?characterEncoding=utf-8"></property>
		<property name="user" value="root"></property>
		<property name="password" value="ccc"></property>
	</bean>
	
	
	<!-- 由spring去创建sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!--<prop key="hibernate.current_session_context_class">thread</prop>-->
			</props>
		</property>
		<property name="mappingLocations" value="classpath:com/gh/crm/*/entity/*.hbm.xml"></property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- aop事务管理 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.gh.crm.*.service..*.*(..))"/>
	</aop:config>
	
	
	<bean id="staffDao" class="com.gh.crm.resources.dao.imp.StaffDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	
	<bean id="departmentDao" class="com.gh.crm.resources.dao.imp.DepartmentDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	
	<bean id="postDao" class="com.gh.crm.resources.dao.imp.PostDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	 <bean id="referDao" class="com.gh.crm.consult.dao.imp.ReferDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	  <bean id="followDao" class="com.gh.crm.consult.dao.imp.FollowDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	 <bean id="graduateDao" class="com.gh.crm.employment.dao.imp.GraduateDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	 <bean id="studentDao" class="com.gh.crm.swork.dao.imp.StudentDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	 <bean id="stationDao" class="com.gh.crm.swork.dao.imp.StationDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	 <bean id="outflowDao" class="com.gh.crm.swork.dao.imp.OutflowDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	  <bean id="classesDao" class="com.gh.crm.teaching.dao.imp.ClassesDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	  <bean id="courseTypeDao" class="com.gh.crm.teaching.dao.imp.CourseTypeDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
	 
	 
	
	
	<bean id="staffService" class="com.gh.crm.resources.service.imp.StaffServiceImp">
		<property name="staffDao" ref="staffDao"></property>
	</bean>
	
	<bean id="departmentService" class="com.gh.crm.resources.service.imp.DepartmentServiceImp">
		<property name="departmentDao" ref="departmentDao"></property>
	</bean>
	
	<bean id="postService" class="com.gh.crm.resources.service.imp.PostServiceImp">
		<property name="postDao" ref="postDao"></property>
	</bean>
	
	<bean id="referService" class="com.gh.crm.consult.service.imp.ReferServiceImp">
		<property name="referDao" ref="referDao"></property>
	</bean>
	
	<bean id="followService" class="com.gh.crm.consult.service.imp.FollowServiceImp">
		<property name="followDao" ref="followDao"></property>
	</bean>
	
	<bean id="graduateService" class="com.gh.crm.employment.service.imp.GraduateServiceImp">
		<property name="graduateDao" ref="graduateDao"></property>
	</bean>
	
	<bean id="studentService" class="com.gh.crm.swork.service.imp.StudentServiceImp">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	
	<bean id="stationService" class="com.gh.crm.swork.service.imp.StationServiceImp">
		<property name="stationDao" ref="stationDao"></property>
	</bean>
	
	<bean id="outflowService" class="com.gh.crm.swork.service.imp.OutflowServiceImp">
		<property name="outflowDao" ref="outflowDao"></property>
	</bean>
	
	<bean id="classesService" class="com.gh.crm.teaching.service.imp.ClassesServiceImp">
		<property name="classesDao" ref="classesDao"></property>
	</bean>
	
	<bean id="courseTypeService" class="com.gh.crm.teaching.service.imp.CourseTypeServiceImp">
		<property name="courseTypeDao" ref="courseTypeDao"></property>
	</bean>
	
	
	 
	
	
</beans>
